
.banner{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/proyectoma-5e2f6.appspot.com/o/bts4.jpg?alt=media&token=eeb47e77-c4d4-4b51-9555-4355d4595d06");
    background-position: top center;
    background-size: cover;
    padding: 5% 20% 35% 20%;
}